@import url(https://fonts.bunny.net/css?family=abyssinica-sil:400);

body { background: #D7D5C7; color: #4B4936; font-size: 100%; line-height: 1.4em; font-family: 'Abyssinica SIL', serif; padding: 0; margin: 0; }
header, main { padding: 1.4em 7vw; text-align: center; }
h1 { font-size: 1.2em; margin: 0; }
h2 { font-size: 1.6em; margin: 1.4em; }
p { font-size: 1em; margin: 1.4em; }

figure { width: 30vw; margin: 0 auto; padding: 0; }
img { width: 100%; height: auto; }

footer { color: #fff; text-align: center; position: absolute; bottom: 0; left: 0; width: 100vw; }
footer:before, footer div { padding: 3em;
  background-image: 
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23A1600A' stop-opacity='.5' offset='0%25'/%3e%3cstop stop-color='%23A1600A' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23A1600A' stop-opacity='.5' offset='0%25'/%3e%3cstop stop-color='%23A1600A' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e"),
    url("data:image/svg+xml;charset=UTF-8,%3csvg xmlns='http://www.w3.org/2000/svg' width='1600' height='198'%3e%3cdefs%3e%3clinearGradient id='a' x1='50%25' x2='50%25' y1='-10.959%25' y2='100%25'%3e%3cstop stop-color='%23A1600A' stop-opacity='.5' offset='0%25'/%3e%3cstop stop-color='%23A1600A' offset='100%25'/%3e%3c/linearGradient%3e%3c/defs%3e%3cpath fill='url(%23a)' fill-rule='evenodd' d='M.005 121C311 121 409.898-.25 811 0c400 0 500 121 789 121v77H0s.005-48 .005-77z'/%3e%3c/svg%3e");
  background-repeat: repeat-x; background-size: 1600px 100%; background-position: 0 130%, -50px 130%, 500px 130%; animation: 40s waves linear infinite forwards; }

@keyframes waves {
  to { background-position: 1600px 130%, 3150px 130%, 5300px 130%; }
}


@media (prefers-reduced-motion) {
  footer:before, footer div { animation: none; }
}


@media screen and (max-width: 800px){
    figure { width: 80vw; }
}

@media screen and (max-width: 600px){
  footer {color: #4B4936; position: relative; }
  footer:before, footer div { padding: 3em; background-image: none; animation: none; }
}